* {
    margin: 0;
    padding: 0;
    font-size: 22px;
}
body {
    background: rgba(0,0,0,0.8);
}
.container {
    flex-wrap: wrap;
    padding: 100px 50px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
}
.box__input {
   
    padding: 10px;
    border: 2px solid rgb(0, 255, 42);
    box-shadow: 0 0 12px rgb(0, 255, 42),
    inset 0 0 4px rgb(0, 255, 42);
    border-radius: 60px;
}
.box__str, .box__str:focus {
    color: rgb(0, 255, 42);
    border: 0;
    outline: 0;
    background: none;
    filter: drop-shadow(0 0 2px rgb(0, 255, 42));
}
.box__result {
    padding: 10px;
    border-radius: 16px;
    border: 2px solid rgb(0, 255, 42);
    color:rgb(0, 255, 42);
    filter: drop-shadow(0 0 2px rgb(0, 255, 42));
    opacity: 0;
    font-size: 0px;
    max-width: 100%;
    word-wrap: normal;
    box-shadow: 0 0 4px rgb(0, 255, 42),
    inset 0 0 4px rgb(0, 255, 42);
    transition: .3s;
}
.box__filters {
    display: flex;
    justify-content: space-between;
    width: auto;
}
.box__even, .box__odd {
    border-radius: 16px;
    padding: 5px;
    opacity: 0;
    font-size: 0px;
    color:rgb(0, 255, 42);
    filter: drop-shadow(0 0 2px rgb(0, 255, 42));
    width: 170px;
    border: 2px solid rgb(0, 255, 42);
    box-shadow: 0 0 4px rgb(0, 255, 42),
    inset 0 0 4px rgb(0, 255, 42);
    transition: .3s;
}
.box {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 400px;
}
.box__button {
    color:rgb(0, 255, 42);
    text-decoration: 0 0 4px rgb(0, 255, 42);
    border: 0;
    border-radius: 16px;
    background: rgba(0,0,0,0.2);
    padding: 5px 12px;
}
